<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- TODO :: Change title generation to template -->
  <title>Game name</title>
  <!-- TODO :: Make support for custom stylesheets -->
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    html,body {
      width: 100%;
      height: 100%;
      position: fixed;
    }
  </style>
</head>
<body>

  <script src="./bundle.js"></script>
</body>
</html>